.canvas{
  margin:0;
  width: 100vw;
  height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  background-color: black;
  color:white;
}
.switch label .lever {
    background-color: rgba(100,50,200,0.38);
}
.PVWatt{
  text-align: center;
}
.PVWatt span{
  font-size: 1.5em;
}
.PVrow img{
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
    height: 60%;
}
.PVrow{
  height: 20vh !important;
  margin: 0;
}
.batteryrow{
  height: 80vh;
  margin: 0;
  padding-top: 5vh;
  padding-bottom: 10px;
}
#toggleWaitModal{
  background: transparent;
    border: none;
    box-shadow: none !important;
    height: 100vh !important;
    margin: 0;
    width: 100vw;
    top: 0 !important;
    bottom: 0;
    position: absolute;
    /* overflow: visible; */
    max-height: 100%;
}
.unitText{
  position: relative;
  text-align: center;
}
.cornerText{
  position: absolute;
  right: 0;
  top:0;
}
.slicerow{
  height:25vh;
  margin: 0;
}
.LT{
  font-size: 4em;
}
.MT{
  font-size: 2.5em;
}
.ST{
  font-size: 1.5em;
}
.weatherSymbol{
  height: 100%;
}
.weatherText{
  position: relative;
}
.weatherText .location{
  position: absolute;
  top: 0;
}
.vcenter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.timestamp{
  position: absolute;
  top:2px;
  right:5px;
}
.swlabel{
  text-align: center;
}
.swElement .switch{
  text-align: center;
}
.battery {
  border: 3px solid #333;
  width: 18px;
  height: 100%;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
.battery:before {
  content: '';
  height: 15px;
  width: 45px;
  background: #333;
  display: block;
  position: absolute;
  top: -15px;
  left: calc(50% - 22.5px);
  border-radius: 6px 6px 0 0;
}
.battery:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.battery-level {
  background: #30b455;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  border-radius: 5px 5px 10px 10px;
}
.battery-level.warn {
  background-color: #EFAF13;
}
.battery-level.alert {
  background-color: #e81309;
}
.battery-level.alert:before {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%3Cg%3E%3C%2Fg%3E%20%3Cpath%20fill%3D%22%23e81309%22%20d%3D%22M17.927%2012l2.68-10.28c0.040-0.126%200.060-0.261%200.060-0.4%200-0.726-0.587-1.32-1.314-1.32-0.413%200-0.78%200.187-1.019%200.487l-13.38%2017.353c-0.18%200.227-0.287%200.513-0.287%200.827%200%200.733%200.6%201.333%201.333%201.333h8.073l-2.68%2010.28c-0.041%200.127-0.060%200.261-0.060%200.4%200.001%200.727%200.587%201.32%201.314%201.32%200.413%200%200.78-0.186%201.020-0.487l13.379-17.353c0.181-0.227%200.287-0.513%200.287-0.827%200-0.733-0.6-1.333-1.333-1.333h-8.073z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  left: calc(50% - 9px);
  background-size: 18px;
  height: 18px;
  width: 18px;
  margin: -25px 0 0 2px;
  content: '';
  display: inline-block;
  position: absolute;
}
.battery-SOC{
  font-size: 3em;
  padding-top: 30px;
  z-index: 3;
  position: relative;
}

.battery-Voltage{
  font-size: 3em;
  padding-top: 40px;
  z-index: 3;
  position: relative;
}
